.line {
  width: 100px;
  border: 1px solid var(--secondary-border);
  position: absolute;
}

.line1 {
  top: 48%;
  left: 13%;
}

.line2 {
  top: 55%;
  left: 33%;
}

.line3 {
  top: 64%;
  left: 56%;
}

.line4 {
  top: 19%;
  left: 71%;
}
