/* Buldings */

.building-group {
  width: 670px;
  height: 400px;
  z-index: 10;
  display: flex;
  align-items: flex-end;
  position: relative;
  /* border : 3px solid var(--test2); */
}

.building1 {
  height: 85px;
  width: 60px;
  left: 0;
  flex: 1 1 26%;
  /* border: 2px solid var(--test1); */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.b1-floor0 {
  width:95%;
  height: 21%;
  display: flex;
  border-left: 5px solid var(--building1-border);
  background: var(--building1-color);

}
.b1-f0-subsection1 {
  width: 40%;
  border-top: 3px solid var(--building1-border);
  margin-top: 2%;
}

.b1-f0-subsection2 {
  width: 10%;
  border: 3px solid var(--building1-border);
  border-top: none;
  border-bottom: none;
}

.b1-f0-subsection3 {
  width: 60%;
  border-top: 3px solid var(--building1-border);
  margin-top: 2%;
}

.b1-roof-cover {
  width:100%;
  height: 17%;
  border: 4px solid #44000F;
  background: #CD233A;
  border-right:none;
  border-radius: 10px 0px 0px 0px;
}

.b1-floor1 {
  width:95%;
  height: 45%;
  display: flex;
  border-left: 5px solid var(--building1-border);
  background: var(--building1-color);
}

.b1-f1-section1 {
  flex: 1 1 35%;
  border-right: 2px solid var(--building1-border);

}
.b1-f1-section2 {
  flex: 1 1 65%;
  display: flex;
  margin: 0% 5% 7% 5%;
  justify-content: space-between;
}
.b1-f1-subsection1 {
  width: 30%;
  border-bottom: 2px solid var(--building1-border);
}
.b1-f1-subsection2 {
  width: 12%;
  border-bottom: 2px solid var(--building1-border);

}
.b1-f1-subsection3 {
  width: 30%;
  border-bottom: 2px solid var(--building1-border);
}

.b1-floor2 {
  width:95%;
  height: 23%;
  border: 5px solid var(--building1-border);
  border-right: none;
  background: var(--building1-color);
  display: flex;
}

.b1-f2-section {
  width: 6.25%;
  border-right: 1px solid var(--building1-border);
}











































.building2 {
  height: 200px;
  width: 60px;
  flex: 1 1 13%;
  /* border: 2px solid var(--test1) */
}

.building3 {
  height: 200px;
  width: 60px;
  flex: 1 1 19%;
  /* border: 2px solid var(--test1) */
}

.building4 {
  height: 200px;
  width: 60px;
  flex: 1 1 27%;
  /* border: 2px solid var(--test1) */
}

.building5 {
  height: 200px;
  width: 60px;
  flex: 1 1 13%;
  /* border: 2px solid var(--test1) */
}
