:root {
  --sky-color: #2E9FC1;
  --secondary-color: #55B8BA;
  --shade-color: #3C93A6;
  --sun-color: #F1F198;
  --border: #F6FFE4;
  --secondary-border: rgb(161, 225, 231);
  --test1: #111;
  --test2: #123097;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background: var(--test1);
}

body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--test1);
}

.card {
  width: 85%;
  height: 85%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--sky-color);
}
